

body {
    background-image: url(images/background.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    
}

.navbar {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    padding:50px;
    background-color:black;
    border-bottom:5px solid gray;
    text-align: center;
}

.navbut {
    font-family:"New Amsterdam";
    font-size:50px;
    text-decoration: none;
    color:white;
    background-color:gray;
    padding:10px;
    border:5px solid white; 
    border-radius: 5px;
    margin:0px 40px;
}

.header {
    text-align: center;
    font-family:"New Amsterdam", sans-serif;
    font-size:50px;
    text-shadow:-5px -5px blue;
    /*outline:10px solid white;*/
    margin-top:200px;
}





